<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready To Get Started?</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio
        dignissimos asperiores autem quo minima quibusdam ullam aut iste eum
        dicta! Aperiam placeat incidunt rem ducimus expedita aut doloribus hic
        autem.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
